# This file is part of pg2pandas.
# https://github.com/belonesox/pg2pandas

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2018, Stas Fomin <stas-fomin@yandex.ru>

[run]
omit =
    *tests.py
branch = True
source =
    pg2pandas

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    from urllib.parse import parse_qs
    except ImportError:
